# Dictonaries Key-Value Pairs, Unordered, Mutable

In [2]:
mydict = {"name": "sriram", "age":48, "city" : "Chennai"}
print(mydict)

{'name': 'sriram', 'age': 48, 'city': 'Chennai'}

In [4]:
mydict2 = dict(name="sriram", ag=48, city="Chennai")
print(mydict2)

{'name': 'sriram', 'ag': 48, 'city': 'Chennai'}

In [5]:
value = mydict["name"]
print(value)

sriram

In [7]:
mydict["email"] = "sri@example.com"
print(mydict)

{'name': 'sriram', 'age': 48, 'city': 'Chennai', 'email': 'sri@example.com'}

In [8]:
del mydict["email"] # we can use pop() or popitem() method to remove a key value pair
print(mydict)

{'name': 'sriram', 'age': 48, 'city': 'Chennai'}

In [9]:
if "name" in mydict:
  print(mydict["name"])

sriram

In [11]:
for key in mydict:
  print(key)

name
age
city

In [13]:
for value in mydict:
  print(value)

name
age
city

In [16]:
for key, value in mydict.items():
  print(key, value)

name sriram
age 48
city Chennai

In [17]:
#copying in dictonary behaves same as lists