# Tuples - Ordered, Immutable, allows duplicate elements

In [1]:
myTuple = "you", "me", "them"
print(myTuple)

('you', 'me', 'them')

In [2]:
singleTuple = ("single",) #if comma not added then it will be recognized as str not a tuple
print(type(singleTuple))

<class 'tuple'>

In [3]:
anotherTuple = tuple([1,2,3])
print(anotherTuple)

(1, 2, 3)

In [4]:
item = anotherTuple[1]
print(item)

2

In [5]:
for i in anotherTuple:
  print(i)

1
2
3

In [6]:
if 1 in anotherTuple:
  print("yes")
else: print("no")

yes

In [7]:
anotherTuple.index(3)

2

In [8]:
myList = list(anotherTuple)
print(myList)

[1, 2, 3]

In [9]:
mytuple = tuple(myList)
print(mytuple)

(1, 2, 3)

In [10]:
#slicing of a tuple is same as lists (start:stop:step)

In [11]:
import sys
print(sys.getsizeof(myList), " bytes")
print(sys.getsizeof(mytuple), " bytes")

120  bytes
80  bytes

In [12]:
import timeit
print(timeit.timeit(stmt="[0,1,2,3,4,5]", number=1000000))
print(timeit.timeit(stmt="(0,1,2,3,4,5)", number=1000000))

0.0691345000000183
0.009296512999981132